<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPViewController</key>
	<dict>
		<key>trackingId</key>
		<string>trackingId001</string>
		<key>trackingAction</key>
		<string>btnClick:</string>
		<key>trackingViewWillAppear</key>
		<true/>
	</dict>
	<key>HPTestView</key>
	<dict>
		<key>trackingId</key>
		<string>trackingId001</string>
		<key>trackingAction</key>
		<string>click</string>
	</dict>
</dict>
</plist>
